body {
  font-family: sans-serif;
  overflow: hidden;
}

button:focus {
  outline: 0;
}

a:hover {
  text-decoration: none;
}

.container {
  max-width: 1100px;
  width: 100%;
}
.site-title {
  font-size: 35px;
  line-height: 60px;
  text-align: center;
  margin: 100px 0px 80px 0px;
  font-weight: bold;
  color: #333399;
}

/*Шапка*/
header {
  position: relative;
  width: 100%;
  top: 20px;
  min-height: 10vh;
  align-items: center;
  display: flex;
}
.header-wrapper {
  align-items: center;
}
.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu__list a {
  color: #333399;
}

.header-menu__list a:hover {
  color: #00cc99;
  transition: 0.4s;
}

/*Бургер*/
.burger-menu {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  width: 25px;
  height: 25px;
  border: 0;
  padding: 0;
  background: 0;
  display: none;
}

.burger-menu:focus {
  outline: 0;
}

.burger-menu__span {
  position: absolute;
  width: 100%;
  height: 3px;
  display: inline-block;
  background: #00cc99;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.7s;
  left: 0;
}

.burger-menu:before,
.burger-menu:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  background: #00cc99;
  transition: 0.7s;
}

.burger-menu:after {
  bottom: 0;
  left: 0;
}

.burger-menu:before {
  top: 0;
  left: 0;
}

.burger-menu.active .burger-menu__span {
  background: transparent;
}

.burger-menu.active.burger-menu:before {
  top: 13px;
  transform: rotate(45deg);
}

.burger-menu.active.burger-menu:after {
  top: 13px;
  transform: rotate(-45deg);
}

/*Intro*/
.intro {
  background: url(../images/BG.jpg) no-repeat;
  min-height: 90vh;
  display: flex;
  align-items: center;
  background-position: 0% 100%;
  background-size: 92%;
}

.intro-title {
  font-size: 50px;
  color: #000099;
  font-weight: bold;
  line-height: 55px;
  margin-top: 20px;
}

.intro-title__color {
  color: #00cc99;
  font-weight: bold;
}

.intro-subtitle {
  margin: 20px 0px 40px 0px;
  font-size: 20px;
  line-height: 36px;
  color: #333399;
}

.btn-intro {
  font-size: 16px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  border-radius: 13px;
  display: inline-block;
  background: #00cc99;
  width: 55%;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0px 5px;
}

.btn-intro:hover {
  background: #333399;
  color: #fff;
  transition: 0.6s;
}

/*Profile*/
.profile-text {
  font-size: 17px;
  line-height: 27px;
  color: #333399;
  padding: 30px 0px 130px 0px;
}

/*rost-busines*/
.rost-busines {
  background: url(../images/rost-busines/bg.png) no-repeat center;
  height: 100vh;
  background-size: cover;
}
.rost-busines img {
  width: 100%;
  height: 500px;
  display: block;
  margin-top: 100px;
}
.rost-busines h3 {
  margin: 0;
  padding-top: 390px;
  padding-left: 100px;
}

/*steps-promo*/
.steps-col {
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.steps-text {
  padding: 16px 0px 80px 0px;
  text-align: left;
  font-size: 18px;
  line-height: 27p;
  color: #333399;
}

.steps-col .btn-intro {
  display: inline-flex;
}
.steps-col h4 {
  text-align: left;
  color: #000099;
  font-size: 20px;
  font-weight: bold;
}

.step-col-number {
  position: absolute;
  left: -80px;
  top: -25px;
  color: #00cc99;
  font-weight: bold;
  font-size: 60px;
}
.number-before::before {
  display: none;
}
.step-col-number::before {
  position: absolute;
  content: "";
  width: 5px;
  height: 90px;
  background: #f5f9ff;
  left: 50%;
  transform: translateX(-50%);
  bottom: -100px;
}

/*business-reputation*/
.business-reputation {
  background: #f5f9ff;
  padding-bottom: 50px;
}
.business-reputation .business-reputation-before {
  position: relative;
}
.business-reputation-before {
  margin-top: 100px;
  padding-top: 50px;
}
.business-reputation-before::before {
  position: absolute;
  content: "";
  width: 220px;
  height: 1px;
  background: #000099;
  left: 50%;
  transform: translateX(-50%);
  bottom: -20px;
}
.business-reputation__text {
  width: 80%;
  font-size: 18px;
  line-height: 27px;
  margin: auto;
  color: #333399;
  text-align: center;
  padding-bottom: 60px;
  margin-top: -15px;
}

.reputation-col-wrap {
  width: 350px;
  background: #fff;
  border: 1px solid rgba(51, 51, 153, 0.1);
  box-sizing: border-box;
  border-radius: 15px;
  padding: 40px;
  color: #333399;
  font-size: 18px;
  line-height: 27px;
}
.reputation-col__title {
  font-size: 20px;
  line-height: 36px;
  font-weight: bold;
  padding-bottom: 8px;
  padding-top: 15px;
}

/*online-business*/
.online-business-before {
  position: relative;
}
.online-business-before::before {
  position: absolute;
  content: "";
  width: 220px;
  height: 1px;
  background: #000099;
  left: 50%;
  transform: translateX(-50%);
  bottom: -20px;
}

.online-business-coulum {
  padding: 60px 0px;
}

.business-coulum__block {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #333399;
  font-size: 18px;
  line-height: 27px;
}
.online-business-title {
  width: 52%;
}
.online-rewers {
  display: flex;
  flex-direction: row-reverse;
}
.business-coulum__block__title {
  font-size: 20px;
  line-height: 39px;
  font-weight: bold;
  padding-bottom: 10px;
}

/* tariff-plan */
.tariff-block {
  justify-content: center;
  align-items: center;
  padding: 60px;
  margin-top: -40px;
  position: relative;
}
.tariff-block__title {
  font-size: 28px;
  color: #000099;
  padding-bottom: 20px;
  font-weight: bold;
}
.tariff-block-items {
  border: 1px solid rgba(51, 51, 153, 0.2);
  box-sizing: border-box;
  border-radius: 23px;
  margin: 0px 30px;
  text-align: center;
  padding: 45px 0px;
}
.tariff-price {
  color: #000099;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.tariff-price::before {
  position: absolute;
  content: "";
  width: 200px;
  height: 1px;
  background: #00cc99;
  bottom: -5px;
}
.traff-price__color {
  font-size: 60px;
  line-height: 60px;
  font-weight: bold;
  color: #00cc99;
  padding-right: 10px;
}
.tariff-list {
  padding: 60px 0px;
  color: #33339933;
  font-size: 18px;
  line-height: 27px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tariff-list__items {
  padding-bottom: 15px;
  text-align: justify;
  position: relative;
  padding-left: 25px;
}
.tariff-list__items:nth-child(1) {
  color: #000099;
}
.tariff-list__items::before {
  position: absolute;
  content: "X";
  width: 20px;
  height: 20px;
  color: #33339933;
  left: 0;
}
.tariff-color::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background: url(../images/Vector.png) no-repeat;
  top: 5px;
}
.tariff-color {
  color: #000099;
}

.rtariff-list-wrap {
  margin: auto;
}
.tariff-btn {
  width: 48%;
  height: 55px;
  background: #00cc99;
  color: #fff;
  border-radius: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-size: 18px;
  font-weight: bold;
}
.tariff-btn:hover {
  background: #333399;
  color: #fff;
  transition: 0.5s;
}

.tariff-block-text {
  font-size: 18px;
  color: #333399;
  position: absolute;
  bottom: 0;
  left: 100px;
}

/* forma-company */
.forma-wrapper {
  align-items: center;
  padding-bottom: 50px;
}
.forma-site {
  display: flex;
  flex-direction: column;
  padding-left: 70px;
  font-size: 18px;
  color: #333399;
}
.forma-site__inner {
  height: 60px;
  padding: 20px 56px 20px 16px;
  border: 1px solid rgba(51, 51, 153, 0.2);
  border-radius: 12px;
  margin: 10px 0px 30px 0px;
}
.forma-site__inner:focus {
  outline: 0;
}
.forma-site__inner::placeholder {
  color: rgba(51, 51, 153, 0.2);
}
.forma-btn {
  width: 160px;
  height: 60px;
  padding: 16px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #00cc99;
  border-radius: 13px;
  color: #fff;
  border: 1px solid #00cc99;
  margin-bottom: 30px;
}
.forma-btn:hover {
  background: #333399;
  color: #fff;
  transition: 0.5s;
}
.forma-post {
  font-size: 18px;
  line-height: 27px;
  color: #000099;
}
.forma-post a {
  color: #00cc99;
}
.forma-post a:hover {
  text-decoration: underline;
}

/* footer */
footer {
  background: #f5f9ff;
  padding: 80px 0px 60px 0px;
}
.footer-list {
  line-height: 27px;
  margin-bottom: 60px;
}
.footer-list__inner a {
  color: #333399;
  font-size: 18px;
  line-height: 38px;
}
.footer-list__inner a:hover {
  text-decoration: underline;
  transition: 0.4s;
  color: #00cc99;
  transition: 0.4s;
}
.footer-social {
  display: flex;
  justify-content: right;
}
.footer-social__inner {
  font-size: 25px;
  color: #333399;
  display: flex;
  margin-left: 10px;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
}
.footer-social__inner:hover {
  color: #00cc99;
  transition: 0.4s;
}
.footer-item {
  font-size: 18px;
  color: #333399;
}
.footer-item:hover {
  text-decoration: underline;
  transition: 0.4s;
  color: #00cc99;
}

/*Media*/
@media screen and (max-width: 1100px) {
  .reputation-media {
    flex-direction: column;
    align-items: center;
  }
  .reputation-col-wrap {
    width: 100%;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 992px) {
  .tariff-block-items {
    margin: 0px 0px 30px 0px;
    padding: 10px 5px;
  }
  .tariff-block {
    flex-direction: column;
    padding: 0px 5px;
  }
  .tariff-block-text {
    position: inherit;
    left: 0;
    text-align: center;
  }
  .rost-media img {
    display: none;
  }
  .rost-media {
    display: flex;
    justify-content: center;
  }
  .rost-busines h3 {
    padding: 0;
    padding-top: 35%;
  }
}
@media screen and (max-width: 780px) {
  .rost-busines {
    display: none;
  }
  .intro-wrapper {
    width: 85%;
  }
}
@media screen and (max-width: 670px) {
  .burger-menu {
    display: flex;
    position: absolute;
    z-index: 1;
  }
  header {
    background: rgb(250, 250, 250);
    top: 0;
  }
  .burger-menu.active {
    display: flex;
  }
  .header-menu {
    position: fixed;
    top: 0;
    right: 0px;
    min-height: 100vh;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background: rgba(2, 2, 32, 0.9);
    transition: 1s;
    z-index: 1;
    width: 50%;
    color: seagreen;
  }
  .header-menu__list a {
    color: seagreen;
    font-weight: bold;
  }
  .header-menu.active {
    opacity: 1;
    visibility: visible;
    transition: 1s;
    right: 0;
  }
  .intro {
    background: url(../images/BG.jpg) no-repeat;
    background-position: 0% 100%;
    background-size: 105%;
  }
  .intro-title {
    font-size: 28px;
    line-height: 25px;
  }
  .intro-subtitle {
    font-size: 16px;
    width: 70%;
    line-height: 20px;
    margin-bottom: 20px;
  }

  .site-title {
    font-size: 25px;
    line-height: 29px;
  }
  .forma-wrapper {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .forma-site {
    padding: 0;
    margin-top: 30px;
  }
  .forma-btn {
    margin: auto;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 600px) {
  .btn-intro {
    width: 75%;
  }
  .profile-media {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .footer-media {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer-social {
    margin: 15px 0px;
    justify-content: center;
  }
  .business-reputation__text {
    width: 90%;
  }
  .step-col-number {
    top: -100px;
    left: 5px;
    margin-top: 10px;
  }
  .step-col-number::before {
    display: none;
  }
  .steps-col {
    padding-top: 40px;
  }
  .online-business-coulum {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .business-coulum__block {
    margin-top: 20px;
    margin-bottom: -50px;
  }
}
@media screen and (max-width: 540px) {
  .intro-title {
    font-size: 25px;
    line-height: 25px;
  }
  .intro-subtitle {
    font-size: 16px;
    width: 70%;
  }
  .steps-text {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 450px) {
  .intro-wrapper {
    text-align: center;
    width: 100%;
    margin: auto;
  }
  .intro-subtitle {
    width: 100%;
  }
  .btn-intro {
    width: 100%;
  }
}
